<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <style>
        .logout-button{
            display: block;
            width: 20%;
            text-align: center;
            background-color: #3e3e3e;
            text-decoration: none;
            color: white;
            border-color: #3e3e3e;
            border-width: 5px;
            font-weight: bold;
            float: right;
            margin-right: 10%;
            padding: 5px;
        }
    </style>
</head>
<body>
    <a class="logout-button" href="/logout">Logout</a>
    <h1>Courses List</h1>
    <h3>Spring Security</h3>
    <h3>Spring Framework Guru</h3>
    <h3>Spring Micro services</h3>
    <h3>Algorithm & Data Structures</h3>
    <h3>Jenkins</h3>
    <h3>DevOps tutorial</h3>
    <h3>Docker & Kubernetes</h3>
    <h3>Big Data Processing</h3>
    <h3>Testing with Cucumber</h3>
    <h3>Mobile App development with Flutter</h3>
</body>
</html>